# Dependencies
node_modules
.pnp
.pnp.js

# Bun
.bunfig.toml
bun.lockb

# Build directories
build

# Cache and logs
.cache
.temp
.log
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea
.vscode
*.swp
*.swo